<mat-toolbar>
  <button mat-raised-button (click)="treeService.trees[0].resetTree(treeService.startingElem[0])">Baum zurücksetzen</button>
  <button mat-raised-button (click)="saveService.storeTreeInLocal(treeService.startingElem[0])">Änderungen Speichern</button>
  <button mat-raised-button (click)="treeService.resetToStandardTree()">Ursprungsbaum wiederherstellen</button>
  <button mat-raised-button >test</button>
</mat-toolbar>
<app-tree-elem [children]="treeService.startingElem"></app-tree-elem>
